<section id="content" style="padding-top:60px">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h2>A little about me</h2>
            <img src="images/portrait.jpg" alt="" class="img_inner fleft">
            <p>
            Born in Florida, Lived in Connecticut from high school through college and then moved to Massachusetts!<br>
            Graduate Of Central Connecticut State University with a Bachlors of Science in Computer Engineering '16<br>
            I'm currently a Web Designer/CMS Specialist at <a href="http://www.e-spirit.com/us/">e-Spirit</a>.<br>
            I can do anything from System and Network administration to Web and microcontroller software development (check out my resume for a list of skills)<br>
            I built a virtual reality glove for a Capstone project. It used Leap Motion to read your hand location and unreal engine detects if you touch an object in-game. At that point, data will be sent via bluetooth to a microcontroller(MSP430) that controls some motors that vibrate and simulate the feeling of touching the object.<br>
            </p>
            <img src="images/degree.jpg" alt="" class="img_inner img_fright">
            <h3>Why This Page Exists</h3>
            <div>
              <p>If you can create a place on the web to share things with those around you, or even create a spot that people can use to look through your work then why not?......    So i made a web page.</p>
            </div>
            <h3>Resume</h3>
            <div>
            <p><a href="/Documents/StephResume.docx">Here </a>is a copy of my resume, feel free to look at some of the stuff i've done. </p>
            <p>Also, Feel free to check out my Github <a href="https://github.com/steph089">Here</a></p>
        </div>
      </div>
    </div>