<section id="content">
    <div class="container">
      <div class="row">
        <div class="grid_8">
          <h2>{{picture.Title}}</h2>
          <div class="blog">
            <img src="images/pictures/{{picture.Picture}}" alt="">
            <p>{{picture.Text}}</p>
          </div>
        </div>
        <div class="grid_4 blog">
         <table>
            <tbody>
              <tr><td>
                  <a href="#">
                  <div class="fa fa-user"></div> 
                  {{picture.Poster}}</a>
              </td></tr>
              <tr><td>
                <time datetime="2014-01-01">
                  <span class="fa fa-calendar"></span>
                  {{picture.Date}}  
                </time>
              </td></tr>
              <!--
              <tr>
                <td><div class="fa fa-bookmark"></div> Uncategorized  </td>
                <td colspan="2"><div class="fa fa-tag"></div> No tags</td>
              </tr>
              <tr>
                <td><div class="fa fa-comments"></div> No comments   </td>
                <td colspan="2"><div class="fa fa-eye"></div>182
                <div class="fa fa-thumbs-up"></div>0
                <div class="fa fa-thumbs-down"></div>0</td>
              </tr>
              -->
            </tbody>
          </table>
         </div>
      </div>
    </div>
  </section>